<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets for BrentNAtkinson"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="asana_tasks" data-view="AsanaTasks" data-title="Today's Tasks"></div>
      <i class="icon-check icon-background"></i>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="github_userinfo_repos" data-title="GitHub Repos" data-view="Number"></div>
      <i class="icon-github icon-background"></i>
    </li>
  </ul>
</div>
